{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
	"tabWidth": 2,
	"useTabs": false,
	"arrowParens": "always"
}
